.app {
  text-align: center;
  margin: 20px;
}

.letter {
  margin: 5px !important;
}

.letter-place-holder {
  width: 40px;
  height: 55px;
  display: flex;
  align-items: flex-end; 
  font-size: 50px;
  margin: 5px !important;
}

.wordguess-board-container,
.letter-board-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.letter-placeholder-container{
  display:flex;
  flex-direction:flex-row;
  justify-content:center;
}

.game-progress-container{
  margin-top:20px;
}

h4{
  margin:0;
  padding:0;
}